html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.grass, .sky, .road{
    position: relative;
}
.sky{
    height: 40%;
    background-color: skyblue;
}
.grass{
    height: 30%;
    background-color: seagreen;
}
.road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #ffffff;
    height: 8px;
    width: 100%;
    position: absolute;
    top: 45%;
}

/* ELEMENTS TO ANINMATE */
.mario{
    position: absolute;
    top: -40px;
    left: 0px;
    animation-name: drive;
    animation-duration: 1s;
}

/* KEYFRAMES */
@keyframes drive{
    from{ transform: translatex(0);}
    to{ transform: translatex(850px);}
}
